@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

.gradientBorder {
  background: linear-gradient(#060318, #060318) padding-box,
    linear-gradient(to right, #9425FA, #599DFF) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.marque {
  white-space: nowrap;
  display: flex;
  animation: move 25s linear infinite;
}


.cards-marque-container .card-marque { 
   animation: cardsmove 50s linear infinite;
 } 

@keyframes cardsmove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

body {
  overflow-x: hidden;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
